body{
    margin: 0;
    font-family: "SF Pro Display", sans-serif;
}
.page-container{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light {
  min-height: 100vh;
  background-color: #fdf6f0;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  background-repeat: repeat;
  color: #222;
  transition: all 0.3s ease;
}

.dark {
  min-height: 100vh;
  background-color: #111111;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  background-repeat: repeat;
  color: #f5f5f5;
  transition: all 0.3s ease;
}
